<br /><br />
<div class="page-header">
  <div class="container-fluid">
    <h3>
      Consulta Agendamento de Exames
    </h3>
    <hr />
  </div>
  <form [formGroup]="formulario">
    <div class="container-fluid" style="width:100%;">
      <div class="w-100">
        <button type="button" style="float:right;" class="btn btn-success font-weight-light" 
          (click)="novo()" >
          <i class="fa fa-plus" aria-hidden="true"></i>
          <a class="ml-2">Agendar</a>
        </button>
      </div>
      <br><br>
      <div class="w-100">
        <accordion [closeOthers]="oneAtATime">
          <accordion-group heading="Pesquisar" [isOpen]="isFirstOpen">
            <div class="row">
              
              <div class="form-group col-md-6">
                <label for="pesquisanome">Nome</label>
                <input type="text" class="form-control" id="pesquisanome" placeholder="Nome" formControlName="nome">
            </div>
            <div class="form-group col-md-3">
                <label for="loja">Loja</label>
                <select class="form-control" formControlName="loja"  [compareWith]="compararLoja" (change)="setLoja()">
                    <option *ngFor="let loja of lojas" [ngValue]="loja"> {{ loja.nome }}</option>
                 </select>  
            </div>
            
            <div class="form-group col-md-3" col-sm-12>
                <label for="situacao">Situação</label>
                <select class="form-control" formControlName="situacao">
                    <option value="Agendar">Agendar</option>
                    <option value="Agendado">Agendado</option>
                    <option value="Cancelado">Cancelado</option>
                    <option value="Finalizado">Finalizado</option>
                </select>
            </div>
           
           

              <div class="form-group col-md-12 text-right">
                <button type="button" class="btn btn-primary" (click)="pesquisar()">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Pesquisar
                </button>
                <button type="submit" class="btn btn-danger" style="margin-left:1%;"
                    (click)="pesquisarLimpar()">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                    Limpar
                </button>
            </div>


            </div>
          </accordion-group>
        </accordion>
      </div>



      <div class="table-responsive-lg">
        <table class="table table-striped">
            <thead>
                <tr
                    class="pb-0 card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center row">
                    <th class="col-lg-3 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Nome</th>
                    <th class="col-lg-3 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Loja</th>
                    <th class="col-lg-2 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Data Exame</th>
                    <th class="col-lg-2 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Situação</th>
                    <th class="col-lg-2 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Ações</th>
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let agenda of asoAgendas" 
                    class="pb-0 pt-0 card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
                    <td class="col-lg-3 col-xs mb-1 mt-1 text-muted text-small w-sm-100 p-0" style="border: none;">
                    {{agenda.funcionario.nome}}</td>
                    <td class="col-lg-3 col-xs mb-1 mt-1 text-muted text-small w-sm-100 p-0" style="border: none;">
                      {{agenda.funcionario.loja.nome }}</td>
                    <td class="col-lg-2 col-xs mb-1 mt-1 text-muted text-small w-sm-100 hidden-xs p-0"
                        style="border: none;">{{ agenda.dataexame | date: 'dd/MM/yyyy' }}</td>
                    <td class="col-lg-2 col-xs mb-1 mt-1 text-muted text-small w-sm-100 hidden-xs p-0"
                        style="border: none;">{{ agenda.situacao }}</td>
                    <td class="col-lg-2 col-xs mb-1 mt-1 text-muted text-small w-sm-100 hidden-xs p-0"
                      style="border: none;">
                      <li class="nav-item dropdown btn-group" dropdown>
                        <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light text-primary" mdbWavesEffect>
                          <i class="fas fa-ellipsis-v" title="Ações"></i>
                        </a>
                        <div class="dropdown-menu dropdown-primary dropdown-menu-left" role="menu">
                          <a class="dropdown-item">
                            <a style="color: green;margin-left: 10%;" (click)="editar(agenda)">
                              <i class="far fa-edit" title="Editar"></i>
                          </a>
                          <a style="color: blue;margin-left: 10%;" (click)="finalizar(agenda)">
                            <i class="fas fa-check-double" title="Finalizar"></i>
                        </a>
                        <a style="color: red;margin-left: 10%;" (click)="cancelar(agenda)">
                          <i class="fas fa-ban" title="Cancelar"></i>
                      </a>
                      <a style="color: green;margin-left: 10%;" >
                        <a href="{{imprimir(agenda)}}" target="_blank" >
                        <i class="fas fa-print" title="Imprimir"></i></a>
                    </a>
                          </a>
                        </div>
                      </li>
                    
                    </td>
                  
                </tr>
            </tbody>
        </table>
    </div>
    </div>
  </form>
</div>

<!-- Finalizar colcoar data do exame -->
<div mdbModal #Exames="mdb-modal" class="modal fade" id="basicExample" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: true, ignoreBackdropClick: false}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Exames</h4>

               
            </div>
            <div class="modal-body">
              
              <div *ngFor="let exame of agendaExames" >
                <div class="row">
                <div class="form-group col-md-5 col-sm-12">
                  <label for="tipoexame"  style="font-size: 1;" >Tipo de Exme</label>
                  <input type="text" class="form-control" id="tipoexame" style="font-size: 1;" 
                    [(ngModel)]="exame.asotipo.nome" readonly >
                </div>
                <div class="form-group col-md-3 col-sm-12">
                  <label for="datalancamento"  style="font-size: 1;" >Data do Exame</label>
                  <input type="date" class="form-control" id="datalancamento" style="font-size: 1;" 
                    [(ngModel)]="exame.datalancamento" >
                </div>
                <div class="form-group col-md-4 col-sm-12" >
                  <label for="situacao">Situação</label>
                  <select class="form-control"  [(ngModel)]="exame.situacao" >
                      <option value="Agendado">Agendado</option>
                      <option value="Cancelado">Cancelado</option>
                      <option value="Finalizado">Finalizado</option>
                  </select>
              </div>

              </div>

            </div>
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm waves-light" data-dismiss="modal" 
                    (click)="salvarFinalizar()" mdbWavesEffect title="Salvar alterações">
                    <i class="fas fa-check" aria-hidden="true"></i>Salvar
                </button>
                <button type="button" class="btn btn-danger btn-sm waves-light" data-dismiss="modal" 
                    (click)="fecharModal()" mdbWavesEffect title="Cancelar alterações">
                    <i class="fas fa-times" aria-hidden="true"></i>Cancelar
                </button>
            </div>
            
        </div>
    </div>
</div>



<!-- Imprimir Autorização de Exames-->

<!-- Finalizar colcoar data do exame 
<div mdbModal #autExames="mdb-modal" class="modal fade" id="basicExample" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: true, ignoreBackdropClick: false}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Autoriazação de Exames</h4>

               
            </div>
            <div class="modal-body">

              <div class="form-group col-md-5 col-sm-12">
                <label for="clinica">Clinica</label>
                <select class="form-control"  [compareWith]="compararClinica"   (change)="setClinica()"> 
                  <option *ngFor="let clinica of clinicas" [ngValue]="clinica"> {{ clinica.nome }}</option>
                </select>
              </div>
              
              <div *ngFor="let a of listaAutLaboratorio" >
                <div class="row">
                  <div class="form-group col-md-3 col-sm-12">
                    <label for="datalancamento"  style="font-size: 1;" >Data do Exame</label>
                    <input type="date" class="form-control" id="datalancamento" style="font-size: 1;" 
                      [(ngModel)]="exame.datalancamento" >
                  </div>
                <div class="form-group col-md-5 col-sm-12">
                  <label for="tipoexame"  style="font-size: 1;" >Tipo de Exme</label>
                  <input type="text" class="form-control" id="tipoexame" style="font-size: 1;" 
                    [(ngModel)]="exame.asotipo.nome" readonly >
                </div>
                <div class="form-group col-md-3 col-sm-12">
                  <label for="datalancamento"  style="font-size: 1;" >Data do Exame</label>
                  <input type="date" class="form-control" id="datalancamento" style="font-size: 1;" 
                    [(ngModel)]="exame.datalancamento" >
                </div>
                <div class="form-group col-md-4 col-sm-12" >
                  <label for="situacao">Situação</label>
                  <select class="form-control"  [(ngModel)]="exame.situacao" >
                      <option value="Agendado">Agendado</option>
                      <option value="Cancelado">Cancelado</option>
                      <option value="Finalizado">Finalizado</option>
                  </select>
              </div>

              </div>

            </div>
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm waves-light" data-dismiss="modal" 
                    (click)="salvarFinalizar()" mdbWavesEffect title="Salvar alterações">
                    <i class="fas fa-check" aria-hidden="true"></i>Salvar
                </button>
                <button type="button" class="btn btn-danger btn-sm waves-light" data-dismiss="modal" 
                    (click)="fecharModal()" mdbWavesEffect title="Cancelar alterações">
                    <i class="fas fa-times" aria-hidden="true"></i>Cancelar
                </button>
            </div>
            
        </div>
    </div>
</div>

-->