<br/><br/>

<br/><br/>
<div class="page-header">
  <div class="container-fluid">
    <h3>
      Cadastro de Funcionários
    </h3>
    <hr/>
  </div>


<div style="width: 100%;">


  <form [formGroup]="formulario">
  <div class="row">
      <div class="form-group col-md-6 col-sm-12" [ngClass]="aplicaCssErro('nome')" >
          <label for="nome">Nome</label>
          <input type="text" class="form-control" id="nome" placeholder="Nome"
            formControlName="nome">
            <app-campo-control-erro
              [mostrarErro]="verificarValidTouched('nome')"
              msgErro="Nome é obrigatório.">
            </app-campo-control-erro>
        </div>

      <div class="form-group col-md-3 col-sm-12">
          <label for="datanascimento">Data Nascimento</label>
          <input type="date" class="form-control" id="datanascimento" placeholder="Data Nascimento"
            formControlName="datanascimento" >
        </div>

        <div class="form-group col-md-3 col-sm-12" [ngClass]="aplicaCssErro('matricula')">
          <label for="matricula">Matrícula</label>
          <input type="text" class="form-control" id="matricula" placeholder="Matrícula"
            formControlName="matricula">
            <app-campo-control-erro
              [mostrarErro]="verificarValidTouched('matricula')"
              msgErro="No. da matricula é obrigatório.">
            </app-campo-control-erro>
        </div>

        <div class="form-group col-md-2 col-sm-12" [ngClass]="aplicaCssErro('cpf')">
          <label for="cpf">CPF</label>
          <input type="text" class="form-control" id="cpf" placeholder="CPF" [textMask]="{mask: maskCPF}" placeholder="000.000.000-00"  
          (blur)="consultarCPF()" formControlName="cpf">
            <app-campo-control-erro
              [mostrarErro]="verificarValidTouched('cpf')"
              msgErro="CPF é obrigatório ou CPF Inválido.">
            </app-campo-control-erro>
        </div>

        <div class="form-group col-md-3 col-sm-12">
          <label for="rg">RG</label>
          <input type="text" class="form-control" id="rg" placeholder="RG"
            formControlName="rg">
        </div>

        <div class="form-group col-md-2 col-sm-12">
          <label for="uf">UF</label>
          <select class="form-control" id="uf" formControlName="uf">
            <option value="AC">AC</option>
            <option value="AL">AL</option>
            <option value="AP">AP</option>
            <option value="BA">BA</option>
            <option value="CE">CE</option>
            <option value="DF">DF</option>
            <option value="ES">ES</option>
            <option value="GO">GO</option>
            <option value="MA">MA</option>
            <option value="MT">MT</option>
            <option value="MS">MS</option>
            <option value="MG">MG</option>
            <option value="PA">PA</option>
            <option value="PB">PB</option>
            <option value="PR">PR</option>
            <option value="PE">PE</option>
            <option value="PI">PI</option>
            <option value="RJ">RJ</option>
            <option value="RN">RN</option>
            <option value="RS">RS</option>
            <option value="RO">RO</option>
            <option value="RR">RR</option>
            <option value="SE">SE</option>
            <option value="SC">SC</option>
            <option value="SP">SP</option>
            <option value="TO">TO</option>
          </select>
        </div>

        <div class="form-group col-md-3 col-sm-12" >
          <label for="pis">PIS</label>
          <input type="text" class="form-control" id="pis" placeholder="PIS" [textMask]="{mask: maskPIS}" placeholder="000.00000.00.0"
            formControlName="pis">
        </div>

        <div class="form-group col-md-2 col-sm-12" >
          <label for="ctps">CTPS</label>
          <input type="text" class="form-control" id="ctps" placeholder="CTPS"
            formControlName="ctps">
        </div>

        <div class="form-group col-md-2 col-sm-12" >
          <label for="serie">Serie</label>
          <input type="text" class="form-control" id="serie" placeholder="Serie"
            formControlName="serie">
        </div>



        <div class="form-group col-md-3 col-sm-12" [ngClass]="aplicaCssErro('dataadmissao')">
          <label for="dataadmissao">Data Admissão</label>
          <input type="date" class="form-control" id="dataadmissao" placeholder="Data Admissao"
            formControlName="dataadmissao" >
            <app-campo-control-erro
            [mostrarErro]="verificarValidTouched('dataadmissao')"
            msgErro="Data de admissão é obrigatório.">
          </app-campo-control-erro>
        </div>

        

        <div class="form-group col-md-5 col-sm-12" [ngClass]="aplicaCssErro('funcao')">
            <label for="funcao">Função</label>
            <select class="form-control" formControlName="funcao"  [compareWith]="compararFuncao" (change)="setFuncao()">
                <option *ngFor="let funcao of funcoes" [ngValue]="funcao"> {{ funcao.nome }}</option>
             </select>
             <app-campo-control-erro
             [mostrarErro]="verificarValidTouched('funcao')"
             msgErro="Função é obrigatória.">
           </app-campo-control-erro>
        </div>

        <div class="form-group col-md-2 col-sm-12" >
            <label for="cbo">CBO</label>
            <input type="text" class="form-control" id="cbo" placeholder="CBO" readonly="false"
              [value]="funcaoSelecionada.cbo">
        </div>

        
        <div class="form-group col-md-5 col-sm-12" [ngClass]="aplicaCssErro('loja')">
          <label for="loja">Loja</label>
          <select class="form-control" formControlName="loja"  [compareWith]="compararLoja" (change)="setLoja()">
              <option *ngFor="let loja of lojas" [ngValue]="loja"> {{ loja.nome }}</option>
           </select>
           <app-campo-control-erro
           [mostrarErro]="verificarValidTouched('loja')"
           msgErro="Loja é obrigatório.">
         </app-campo-control-erro>
      </div>


        <div class="form-group col-md-7 col-sm-12" [ngClass]="aplicaCssErro('setor')">
            <label for="setor">Setor</label>
            <select class="form-control" formControlName="setor"  [compareWith]="compararSetor" (change)="setSetor()">
                <option *ngFor="let setor of setores" [ngValue]="setor"> {{ setor.nome }}</option>
             </select>
             <app-campo-control-erro
             [mostrarErro]="verificarValidTouched('setor')"
             msgErro="Setor é obrigatório.">
           </app-campo-control-erro>
        </div>

        <div class="form-group col-md-6 col-sm-12" [ngClass]="aplicaCssErro('sexo')">
          <label for="sexo">Sexo</label>
          <select class="form-control" formControlName="sexo">
              <option value="M">Masculino</option>
              <option value="F">Feminino</option>
          </select>
          <app-campo-control-erro
          [mostrarErro]="verificarValidTouched('sexo')"
          msgErro="Sexo é obrigatório.">
        </app-campo-control-erro>
      </div>

      <div class="form-group col-md-6 col-sm-12" [ngClass]="aplicaCssErro('situacao')">
        <label for="situacao">Situação</label>
        <select class="form-control" formControlName="situacao">
            <option value="Ativo">Ativo</option>
            <option value="Afastado">Afastado</option>
            <option value="Inativo">Inativo</option>
        </select>
        <app-campo-control-erro
        [mostrarErro]="verificarValidTouched('situacao')"
        msgErro="Situação é obrigatório.">
      </app-campo-control-erro>
    </div>

    <div class="form-group col-md-3 col-sm-12" >
      <label for="diasexp1">Dias Exp1</label>
      <input type="number" class="form-control" id="diasexp1"  formControlName="diasexp1" >
    </div>

    <div class="form-group col-md-3 col-sm-12">
      <label for="dataexp1">Data Exp1</label>
      <input type="date" class="form-control" id="dataexp1" formControlName="dataexp1"  >
    </div>


    <div class="form-group col-md-3 col-sm-12" >
      <label for="diasexp2">Dias Exp2</label>
      <input type="number" class="form-control" id="diasexp2"  formControlName="diasexp2" >
    </div>

    <div class="form-group col-md-3 col-sm-12">
      <label for="dataexp2">Data Exp2</label>
      <input type="date" class="form-control" id="dataexp2" formControlName="dataexp2"  >
    </div>


       




    </div>

<br/>
<div class="w-100 text-right">
  <button type="submit" class="btn btn-primary" (click)="salvar()" [disabled]="!formulario.valid">
    <i class="fa fa-floppy-o" aria-hidden="true"></i>
    Salvar
  </button>
  <button type="submit" class="btn btn-danger" style="margin-left:1%;" (click)="cancelar()">
    <i class="fa fa-times" aria-hidden="true"></i>
    Cancelar
  </button>

</div>



<br/>


</form>

</div>
</div>


