<br/><br/>
<div class="page-header">
  <div class="container-fluid">
    <h3>
      Relatório de Segurança
    </h3>
    <hr/>
  </div>


<div style="width: 100%;">


  <form [formGroup]="formulario">
  <div class="row">

    <div class="form-group col-md-4 col-sm-12">
        <label for="data">Data</label>
        <input type="date" class="form-control" id="data" 
        formControlName="data" >
      </div>

      <div class="form-group col-md-5 col-sm-12" >
        <label for="loja">Loja</label>
        <select class="form-control" formControlName="loja"  [compareWith]="compararLoja" (change)="setLoja()">
            <option *ngFor="let loja of lojas" [ngValue]="loja"> {{ loja.nome }}</option>
         </select>
          <br/>  
         <div *ngIf="!novo" class="form-group">
          <input type="file" name="image1" (change)="fileAll($event)" accept="image/jpeg,image/png" multiple />
      </div>
      
    </div>


     

    </div>

    <div *ngIf="!novo"  class="table-responsive-lg">
        <table class="table table-striped">
            <thead>
          
            </thead>
            <tbody>
                <tr *ngFor="let item of relItens; let id = index"
                    class="pb-0 pt-0 card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
                    <td class="col-lg-4 col-xs mb-1 mt-1 text-muted text-small w-sm-100 p-0" style="border: none;">
                      <div *ngIf="!item.item.uploadimagem" class="form-group">
                        <input type="file" name="image" (change)="fileProgress($event, id)" accept="image/jpeg,image/png" />
                      </div>
                      <div *ngIf="item.file" class="image-preview mb-3" >
                        <img [src]="item.previewUrl" height="150" />
                      </div>
                      <div *ngIf="!item.file" class="image-preview mb-3">
                        <img src={{item.item.urlfoto}} height="150" />
                      </div>
                    
                    
                      <div *ngIf="!item.item.uploadimagem" class="form-group">
                        <button class="btn btn-success"  (click)="onSubmit(id)" title="Upload da Imagem"
                          [disabled]="!item.file"><i class="fas fa-cloud-upload-alt" ></i>
                          Upload
                          
                        </button>
                      </div>
                    
                      <div *ngIf="item.item.uploadimagem" class="form-group">
                        <button class="btn btn-success" (click)="removerFoto(id)" title="Remover Imagem">
                          <i class="far fa-trash-alt"></i>
                          Remover
                        
                        </button>
                      </div>
                    </td>               
                    
                    <td class="col-lg-7 col-xs mb-1 mt-1 text-muted text-small w-sm-100 p-0" style="border: none;">
                        <div class="form-group col-md-12" >
                            <label for="constatacao">Constatação</label>
                            <textarea class="form-control" id="constatacao"  [value]="item.item.constatacao"  ></textarea>
                        </div>
                        <div class="form-group col-md-12" >
                            <label for="adequacao">Adequação</label>
                            <textarea class="form-control" id="adequacao"  [value]="item.item.adequacao"   ></textarea>
                        </div>
                    
                    </td>


                    <td class="col-lg-1 col-xs mb-1 mt-1 text-muted text-small w-sm-100 p-0" style="border: none;">
                      <button class="btn btn-success"  (click)="openModalItens(id)" >
                        <i class="fa fa-pencil-alt"></i> 
                        Editar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

<br/>
<div class="w-100 text-right">
  <button type="button" class="btn btn-primary" (click)="salvarRelatorio()">
    <i class="fa fa-floppy-o" aria-hidden="true"></i>
    Salvar
  </button>
  <button type="submit" class="btn btn-danger" style="margin-left:1%;" (click)="cancelarRelatorio()">
    <i class="fa fa-times" aria-hidden="true"></i>
    Cancelar
  </button>

</div>



<br/>


</form>

</div>
</div>


<!-- Modal Alteração  -->
<div mdbModal #modalItens="mdb-modal" class="modal fade" id="basicExample" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: true, ignoreBackdropClick: false}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Item do Relatório</h4>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalItens.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="itensformulario">
          <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <label for="constatacao">Constatação</label>
              <textarea class="form-control" id="constatacao" formControlName="constatacao"></textarea>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <label for="adequacao">Adequação</label>
              <textarea class="form-control" id="adequacao" formControlName="adequacao"></textarea>
            </div>

          </div>

        </form>
      </div>
      <div class="modal-footer">
        <br />
        <div class="w-100 text-right">
          <button type="button" class="btn btn-primary" (click)="salvarItem()" >
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
            Salvar
          </button>
          <button type="submit" class="btn btn-danger" style="margin-left:1%;" (click)="modalItens.hide()">
            <i class="fa fa-times" aria-hidden="true"></i>
            Cancelar
          </button>

        </div>


      </div>
    </div>
  </div>
</div>



<!-- Modal Upload  

<div mdbModal #modalUpload="mdb-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content p-3">
            <div class="modal-header">
                <p class="heading lead">Upload de Foto</p>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFileFluxo" (change)="onChange($event)" />
                <label class="custom-file-label" for="customFileFluxo" id="customFileLabelFluxo">Selecionar arquivo</label>
                
            </div>
            <div style="margin-top: 10px;"> 
                <button type="submit" class="btn btn-primary" (click)="onUpload()" [disabled]="!file" >
                    Upload
                </button>
            </div>
            <form [formGroup]="formulario">
            
        </form>
            <div>
                    <button type="button" class="btn btn-primary"  (click)="modalUpload.hide()" >
                            Fechar
                    </button>   
            </div>
        </div>
    </div>
</div>-->
