
<section class="mt-lg-5">

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-xl-3 col-md-6 mb-r">

            <!--Card-->
            <mdb-card cascade="true" class="cascading-admin-card">

                <!--Card Data-->
                <div class="admin-up">
                    <mdb-icon far icon="far fa-file-alt" class="danger-color"></mdb-icon>
                    <div class="data">
                        <p style="color: red;">VENCIDOS</p>
                        <h4><strong style="color: red;">{{numeroAsos.vencidos}}</strong></h4>
                    </div>
                </div>
                <!--/.Card Data-->

               

            </mdb-card>
            <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-xl-3 col-md-6 mb-r">

            <!--Card-->
            <mdb-card cascade="true" class="cascading-admin-card">

                <!--Card Data-->
                <div class="admin-up">
                    <mdb-icon fas icon="far fa-file-alt" class="primary-color"></mdb-icon>
                    <div class="data">
                        <p style="color: blue;">A VENCER 90</p>
                        <h4><strong style="color: blue;">{{numeroAsos.vencer90}}</strong></h4>
                    </div>
                </div>
                <!--/.Card Data-->

                

            </mdb-card>
            <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-xl-3 col-md-6 mb-r">

            <!--Card-->
            <mdb-card cascade="true" class="cascading-admin-card">

                <!--Card Data-->
                <div class="admin-up">
                    <mdb-icon fas icon="far fa-file-alt" class="success-color"></mdb-icon>
                    <div class="data">
                        <p style="color: green;">EM DIA 90+</p>
                        <h4><strong style="color: green;">{{numeroAsos.vencer90m}}</strong></h4>
                    </div>
                </div>
                <!--/.Card Data-->

               

            </mdb-card>
            <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-xl-3 col-md-6 mb-r">

            <!--Card-->
            <mdb-card cascade="true" class="cascading-admin-card">

                <!--Card Data-->
                <div class="admin-up">
                    <mdb-icon fas icon="far fa-file-alt" class="primary-color"></mdb-icon>
                    <div class="data">
                        <p style="color: blue;">TOTAL EXAMES</p>
                        <h4><strong style="color: blue;">{{numeroAsos.total}}</strong></h4>
                    </div>
                </div>
                <!--/.Card Data-->

                

            </mdb-card>
            <!--/.Card-->

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>

