<br /><br />
<div class="page-header">
  <div class="container-fluid">
    <h3>
      Consulta Planilhas Salutar
    </h3>
    <hr />
  </div>
  <form [formGroup]="formulario">
    <div class="container-fluid" style="width:100%;">
      <div class="w-100">
        <accordion [closeOthers]="oneAtATime">
          <accordion-group heading="Nova Planilha" [isOpen]="isFirstOpen">
            <div class="row">
              
              <div class="form-group col-md-6">
                <label for="pesquisanome">Nome</label>
                <input type="text" class="form-control" id="pesquisanome" placeholder="Nome" formControlName="nome" (blur)="verificarBotaoIniciar()">
            </div>

            <div class="form-group col-md-3">
                <label for="datavencimetoinicial">Data Inicial</label>
                <input type="date" class="form-control" id="datainicial" placeholder="Data Inicial"
                  formControlName="datainicial" >
            </div>
            <div class="form-group col-md-3">
                <label for="datafinal">Data Final</label>
                <input type="date" class="form-control" id="datafinal" placeholder="Data Final"
                  formControlName="datafinal" >
            </div>

            <div class="form-group col-md-6">
                <label for="loja">Loja</label>
                <select class="form-control" formControlName="loja"  (change)="verificarBotaoIniciar()" >
                    <option *ngFor="let loja of lojas" [ngValue]="loja"> {{ loja.nome }}</option>
                 </select>  
            </div>

            <div class="form-group col-md-6">
            </div>
            

            <div class="form-group col-md-2">
                <input type="checkbox" id="todos" value="true" formControlName="todos"
                (change)="setSituacaoTodos()">
                <label for="todos"> Todos</label>
            </div>

            <div class="form-group col-md-2">
                <input type="checkbox" id="ativos" value="true" formControlName="ativos"
                (change)="setSituacaoOutros()">
                <label for="ativos"> Ativos</label>
            </div>

            <div class="form-group col-md-2">
                <input type="checkbox" id="admitidos" value="true" formControlName="admitidos"
                (change)="setSituacaoOutros()">
                <label for="admitidos"> Admitidos</label>
            </div>

            <div class="form-group col-md-2">
                <input type="checkbox" id="afastados" value="true" formControlName="afastados"
                (change)="setSituacaoOutros()">
                <label for="afastados"> Afastados</label>
            </div>

            <div class="form-group col-md-2">
                <input type="checkbox" id="demitidos" value="true" formControlName="demitidos"
                (change)="setSituacaoOutros()">
                <label for="demitidos"> Demitidos</label>
            </div>

            <div class="form-group col-md-2">

            </div>

           


              
        
        

              <div *ngIf="!iniciou"  class="form-group col-md-12 text-right">
                <button type="button" class="btn btn-success" (click)="iniciar()"  [disabled]="botaoiniciar"> 
                    <i class="far fa-play-circle" aria-hidden="true"></i>
                    Iniciar
                </button>
                <button type="submit" class="btn btn-danger" style="margin-left:1%;"
                    (click)="cancelar()" >
                    <i class="fas fa-door-closed" aria-hidden="true"></i>
                    Fechar
                </button>
            </div>

            <div *ngIf="iniciou"  class="form-group col-md-12 text-right">
                <button type="button" class="btn btn-success" (click)="salvar()" >
                    <i class="far fa-save" aria-hidden="true"></i>
                    Salvar
                </button>
                <button type="submit" class="btn btn-danger" style="margin-left:1%;"
                    (click)="reiniciar()" >
                    <i class="fas fa-times" aria-hidden="true"></i>
                    Cancelar
                </button>
            </div>


            </div>
          </accordion-group>
        </accordion>
      </div>



      <div class="table-responsive-lg">
        <table class="table table-striped">
            <thead>
                <tr
                    class="pb-0 card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center row">
                    <th class="col-lg-3 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Nome</th>
                    <th class="col-lg-3 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Função</th>
                    <th class="col-lg-1 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">CBO</th>
                    <th class="col-lg-2 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Loja</th>
                    <th class="col-lg-2 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Data</th>
                    <th class="col-lg-1 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Situação</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sf of salutarFuncionario"
                    class="pb-0 pt-0 card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
                    <td class="col-lg-3 col-xs mb-1 mt-1 text-muted text-small w-sm-100 p-0" style="border: none;">
                        {{sf.funcionario.nome}}</td>
                    <td class="col-lg-3 col-xs mb-1 mt-1 text-muted text-small w-sm-100 hidden-xs p-0"
                        style="border: none;">{{sf.funcao.nome}}</td>
                    <td class="col-lg-1 col-xs mb-1 mt-1 text-muted text-small w-sm-100 hidden-xs p-0"
                        style="border: none;">{{sf.funcao.cbo}}</td>
                    <td class="col-lg-2 col-xs mb-1 mt-1 text-muted text-small w-sm-100 hidden-xs p-0"
                        style="border: none;">{{sf.funcionario.loja.nome}}</td>
                    <td class="col-lg-2 col-xs mb-1 mt-1 text-muted text-small w-sm-100 p-0" style="border: none;">
                         {{ sf.datasituacao | date: 'dd/MM/yyyy' }}</td>
                    <td class="col-lg-1 col-xs mb-1 mt-1 text-muted text-small w-sm-100 hidden-xs p-0"
                      style="border: none;"> {{sf.situacao}} </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
  </form>
</div>


