<br/><br/>

<br/><br/>
<div class="page-header">
  <div class="container-fluid">
    <h3>
      Cadastro de Funcionários
    </h3>
    <hr/>
  </div>


<div style="width: 100%;">


  <form [formGroup]="formulario">
  <div class="row">
      <div class="form-group col-md-6 col-sm-12"  >
          <label for="nome">Nome</label>
          <input type="text" class="form-control" id="nome" placeholder="Nome"
            formControlName="nome" readonly>
        </div>

      <div class="form-group col-md-3 col-sm-12">
          <label for="datanascimento">Data Nascimento</label>
          <input type="date" class="form-control" id="datanascimento" placeholder="Data Nascimento"
            formControlName="datanascimento" readonly >
        </div>

        <div class="form-group col-md-3 col-sm-12" >
          <label for="matricula">Matrícula</label>
          <input type="text" class="form-control" id="matricula" placeholder="Matrícula" readonly
            formControlName="matricula">
        </div>

        <div class="form-group col-md-2 col-sm-12" >
          <label for="cpf">CPF</label>
          <input type="text" class="form-control" id="cpf" placeholder="CPF" placeholder="000.000.000-00"  
           formControlName="cpf" readonly>
        </div>

        <div class="form-group col-md-3 col-sm-12">
          <label for="rg">RG</label>
          <input type="text" class="form-control" id="rg" placeholder="RG" readonly
            formControlName="rg">
        </div>

        <div class="form-group col-md-2 col-sm-12">
          <label for="uf">UF</label>
          <input type="text" class="form-control" id="rg"  readonly
            formControlName="uf">
        </div>

        <div class="form-group col-md-3 col-sm-12" >
          <label for="pis">PIS</label>
          <input type="text" class="form-control" id="pis" placeholder="PIS"   readonly
            formControlName="pis">
        </div>

        <div class="form-group col-md-2 col-sm-12" >
          <label for="ctps">CTPS</label>
          <input type="text" class="form-control" id="ctps" placeholder="CTPS" readonly
            formControlName="ctps">
        </div>

        <div class="form-group col-md-2 col-sm-12" >
          <label for="serie">Serie</label>
          <input type="text" class="form-control" id="serie" placeholder="Serie" readonly
            formControlName="serie">
        </div>



        <div class="form-group col-md-3 col-sm-12" >
          <label for="dataadmissao">Data Admissão</label>
          <input type="date" class="form-control" id="dataadmissao" placeholder="Data Admissao" readonly
            formControlName="dataadmissao" >
        </div>

        

        <div class="form-group col-md-5 col-sm-12" >
            <label for="funcao">Função</label>
            <input type="text" class="form-control" id="funcao" formControlName="funcao" readonly >
        </div>

        <div class="form-group col-md-2 col-sm-12" >
            <label for="cbo">CBO</label>
            <input type="text" class="form-control" id="cbo" placeholder="CBO" readonly="false" readonly
            formControlName="cbo"  >
        </div>

        
        <div class="form-group col-md-5 col-sm-12">
          <label for="loja">Loja</label>
          <input type="text" class="form-control" id="loja" readonly="false"
          formControlName="loja"  >
           
      </div>


        <div class="form-group col-md-7 col-sm-12">
            <label for="setor">Setor</label>
            <input type="text" class="form-control" id="setor" readonly="false"
          formControlName="setor"  >
        </div>

        <div class="form-group col-md-3 col-sm-12" >
          <label for="sexo">Sexo</label>
          <input type="text" class="form-control" id="sexo" readonly="false"
          formControlName="sexo"  >
      </div>

      <div class="form-group col-md-3 col-sm-12" >
        <label for="fone">Fone Celular</label>
        <input type="text" class="form-control" id="fone"  formControlName="fone"   readonly="false">
      </div>

      <div class="form-group col-md-3 col-sm-12" >
        <label for="nacionalidade">Nacionalidade</label>
        <input type="text" class="form-control" id="nacionalidade"  formControlName="nacionalidade"  readonly="false">
      </div>

      <div class="form-group col-md-3 col-sm-12" >
        <label for="situacao">Situação</label>
        <input type="text" class="form-control" id="situacao" readonly="false"
          formControlName="situacao"  >
    </div>

    <div class="form-group col-md-3 col-sm-12" >
      <label for="diasexp1">Dias Exp1</label>
      <input type="number" class="form-control" id="diasexp1"  formControlName="diasexp1" readonly >
    </div>

    <div class="form-group col-md-3 col-sm-12">
      <label for="dataexp1">Data Exp1</label>
      <input type="date" class="form-control" id="dataexp1" formControlName="dataexp1" readonly >
    </div>


    <div class="form-group col-md-3 col-sm-12" >
      <label for="diasexp2">Dias Exp2</label>
      <input type="number" class="form-control" id="diasexp2"  formControlName="diasexp2" readonly >
    </div>

    <div class="form-group col-md-3 col-sm-12">
      <label for="dataexp2">Data Exp2</label>
      <input type="date" class="form-control" id="dataexp2" formControlName="dataexp2" readonly >
    </div>

    <div class="form-group col-md-2 col-sm-12" >
      <label for="pcd">PCD</label>
      <input type="text" class="form-control" id="pcd" readonly="false"
      formControlName="pcd"  >
    </div>

      <div  class="form-group col-md-10 col-sm-12">
        <label for="tipopcd">Descrição da deficiência</label>
        <input type="text" class="form-control" id="tipopcd" formControlName="tipopcd"  readonly >
      </div>
  
       




    </div>

<br/>
<div class="w-100 text-right">
    <button type="button" style="float:right;margin-left:0%;" class="btn btn-primary font-weight-light" (click)="voltar()"  >
        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
        <a class="ml-2">Voltar</a>
      </button>

</div>



<br/>


</form>

</div>
</div>


