<br /><br />
<div class="page-header">
  <div class="container-fluid">
    <h3>
      Consulta Funcionários
    </h3>
    <hr />
  </div>
  <form [formGroup]="formulario">
    <div class="container-fluid" style="width:100%;">
      <div class="w-100">
        
        <button type="button" style="float:right;margin-left:1%;" class="btn btn-secondary font-weight-light" 
        (click)="abrirModal()" >
        <i class="fas fa-print" aria-hidden="true"></i>
        <a class="ml-2">Termo de Mascara</a>
      </button>


        <button type="button" style="float:right;margin-left:1%;" class="btn btn-success font-weight-light" 
        routerLink="/cadfuncionario"  >
          <i class="fa fa-plus" aria-hidden="true"></i>
          <a class="ml-2">Adicionar</a>
        </button>
        <button type="button" style="float:right;margin-left:0%;" class="btn btn-primary font-weight-light" (click)="selecionarFuncionario(null)"  >
          <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
          <a class="ml-2">Voltar</a>
        </button>
        
      </div>
      <br><br>
      <div class="w-100">
        <accordion [closeOthers]="oneAtATime">
          <accordion-group heading="Pesquisar" [isOpen]="isFirstOpen">
            <div class="row">
              
              <div class="form-group col-md-4">
                <label for="pesquisanome">Nome</label>
                <input type="text" class="form-control" id="pesquisanome" placeholder="Nome" formControlName="nome">
              </div>


              <div class="form-group col-md-4">
                <label for="funcao">Função</label>
                <select class="form-control" formControlName="funcao" [compareWith]="compararFuncao"
                  (change)="setFuncao()">
                  <option *ngFor="let funcao of funcoes" [ngValue]="funcao"> {{ funcao.nome }}</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="setor">Setor</label>
                <select class="form-control" formControlName="setor" [compareWith]="compararSetor"
                  (change)="setSetor()">
                  <option *ngFor="let setor of setores" [ngValue]="setor"> {{ setor.nome }}</option>
                </select>
              </div>
              <div class="form-group col-md-5">
                <label for="loja">Loja</label>
                <select class="form-control" formControlName="loja" [compareWith]="compararLoja" (change)="setLoja()">
                  <option *ngFor="let loja of lojas" [ngValue]="loja"> {{ loja.nome }}</option>
                </select>
              </div>
              <div class="form-group col-md-3">
                <label for="situacao">Situação</label>
                <select class="form-control" formControlName="situacao">
                  <option value="Ativo">Ativo</option>
                  <option value="Afastado">Afastado</option>
                  <option value="Inativo">Inativo</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="sexo">Sexo</label>
                <select class="form-control" formControlName="sexo">
                  <option value="N">Nuhnem</option>
                  <option value="F">Feminino</option>
                  <option value="M">Masculino</option>
                </select>
              </div>


              <div class="form-group col-md-12 text-right">
                <button type="button" class="btn btn-primary" (click)="pesquisarNovo()">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Pesquisar
                </button>
                <button type="submit" class="btn btn-danger" style="margin-left:1%;"
                    (click)="limparNovo()">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                    Limpar
                </button>
            </div>


            </div>
          </accordion-group>
        </accordion>
      </div>


     <br/>
      <div class="alert alert-success" role="alert">
        Total de Colaboradores : {{numeroColaboradores}}
      </div>
      <div class="table-responsive-lg">
        <table class="table table-striped">
            <thead>
                <tr
                    class="pb-0 card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center row">
                    <th class="col-lg-2 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">
                    <a (click)="orderByNome()">Nome</a></th>
                    <th class="col-lg-2 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">
                    <a (click)="orderBySetor()">Setor</a></th>
                    <th class="col-lg-3 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">
                    <a (click)="orderByFuncao()">Função</a></th>
                    <th class="col-lg-1 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">
                    <a (click)="orderByCBO()">CBO</a></th>
                    <th class="col-lg-2 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">
                    <a (click)="orderByLoja()">Loja</a></th>
                    <th class="col-lg-1 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">
                    <a (click)="orderBySituacao()">Situação</a></th>
                    <th class="col-lg-1 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm"
                        style="text-align: center;">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let f of funcionarios"
                    class="pb-0 pt-0 card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
                    <td class="col-lg-2 col-xs mb-1 mt-1 text-muted text-small w-sm-100 p-0" style="border: none;">
                        {{f.nome}}</td>
                    <td class="col-lg-2 col-xs mb-1 mt-1 text-muted text-small w-sm-100 p-0" style="border: none;">
                      {{ f.setor.nome }}</td>
                    <td class="col-lg-3 col-xs mb-1 mt-1 text-muted text-small w-sm-100 hidden-xs p-0"
                        style="border: none;">{{f.funcao.nome}}</td>
                    <td class="col-lg-1 col-xs mb-1 mt-1 text-muted text-small w-sm-100 hidden-xs p-0"
                        style="border: none;">{{f.funcao.cbo}}</td>
                    <td class="col-lg-2 col-xs mb-1 mt-1 text-muted text-small w-sm-100 hidden-xs p-0"
                        style="border: none;">{{f.loja.nome}}</td>
                    <td class="col-lg-1 col-xs mb-1 mt-1 text-muted text-small w-sm-100 hidden-xs p-0"
                      style="border: none;"> {{f.situacao}} </td>
                    <td class="col-lg-1 col-xs mb-1 mt-1 text-muted text-small w-sm-100 p-0" style="border: none;">
                      <a style="color: green;margin-left: 0%;" (click)="editar(f)">
                        <i class="far fa-edit" title="Editar"></i>
                    </a>


                        <a *ngIf="habilitarConsulta" style="color: blue; margin-left: 5%;" (click)="selecionarFuncionario(f)">
                          <i class="fas fa-check" title="Selecionar"></i>
                      </a>
                      <a  style="color: green; margin-left: 5%;" (click)="novoAso(f)">
                        <i class="far fa-file-alt" title="Novo Aso"></i>
                      </a>
                        <a *ngIf="verificarNaoParticipante(f)" style="color: blue; margin-left: 5%;" (click)="addTreinamentoFuncionario(f)">
                          <i class="fas fa-user-plus" title="Adicionar no Treinamento"></i>
                        </a>
                        <a *ngIf="verificarParticipante()" style="color: red; margin-left: 5%;" (click)="removerTreinamentoFuncionario(f)">
                          <i class="fas fa-user-times" title="Remover do Treinamento"></i>
                        </a>
                        <a  style="color: green; margin-left: 5%;" (click)="verFuncionario(f)">
                          <i class="fas fa-search" title="Ver dados"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
  </form>
</div>

<!--Tela termo mascara-->

<div mdbModal #termomascara="mdb-modal" class="modal fade" id="basicExample" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: true, ignoreBackdropClick: false}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Termo de Recebimento e Orientação</h4>


      </div>
      <form [formGroup]="formulario">
      <div class="modal-body">
        <div class="row">

        <div class="form-group col-md-9 col-sm-12" >
          <label for="loja">Loja</label>
          <select class="form-control" formControlName="loja"  [compareWith]="compararLoja" (change)="setLoja()">
              <option *ngFor="let loja of lojas" [ngValue]="loja"> {{ loja.nome }}</option>
           </select>
      </div>
      <div class="form-group col-md-3 col-sm-12">
        <label for="cor">Cor</label>
        <select class="form-control" id="cor" formControlName="cor">
          <option value="Cinza">Cinza</option>
          <option value="Preta">Preta</option>
          <option value="Verde">Verde</option>
        </select>

      </div>
      <div class="form-group col-md-12 col-sm-12">
        <label for="local">Local</label>
        <input type="text" class="form-control" id="local" placeholder="local"
          formControlName="local">

      </div>
      
        <div class="w-100 text-right">
         
          <a class="btn btn-primary" href="{{imprimir()}}" target="_blank">   
            <i class="fas fa-print" aria-hidden="true"></i>
            Imprimir
          </a>
          <button type="submit" class="btn btn-danger" style="margin-left:1%;" (click)="fecharModal()">
            <i class="fa fa-times" aria-hidden="true"></i>
            Fechar
          </button>
          
        </div>
      
      </div>
    </div>
  </form>
  </div>
</div>