<br /><br />
<div class="page-header">
  <div class="container-fluid">
    <h3>
      Controle de Aso's
    </h3>
    <hr />
  </div>
  <form [formGroup]="formulario">
    <div class="container-fluid" style="width:100%;">
      <div class="w-100">
        <button type="button" style="float:right;" class="btn btn-success font-weight-light" 
          (click)="novo(null)" >
          <i class="fa fa-plus" aria-hidden="true"></i>
          <a class="ml-2">Adicionar</a>
        </button>
      </div>
      <br><br>
      <div class="w-100">
        <accordion [closeOthers]="oneAtATime">
          <accordion-group heading="Pesquisar" [isOpen]="isFirstOpen">
            <div class="row">
              
              <div class="form-group col-md-6">
                <label for="pesquisanome">Nome</label>
                <input type="text" class="form-control" id="pesquisanome" placeholder="Nome" formControlName="nome">
            </div>
            <div class="form-group col-md-3">
                <label for="funcao">Função</label>
                <select class="form-control" formControlName="funcao"  [compareWith]="compararFuncao" (change)="setFuncao()">
                    <option *ngFor="let funcao of funcoes" [ngValue]="funcao"> {{ funcao.nome }}</option>
                 </select>
            </div>
            <div class="form-group col-md-3">
                <label for="loja">Loja</label>
                <select class="form-control" formControlName="loja"  [compareWith]="compararLoja" (change)="setLoja()">
                    <option *ngFor="let loja of lojas" [ngValue]="loja"> {{ loja.nome }}</option>
                 </select>  
            </div>
            <div class="form-group col-md-3">
                <label for="datavencimetoinicial">Vencimento Inicial</label>
                <input type="date" class="form-control" id="datavencimetoinicial" placeholder="Data Inicial"
                  formControlName="datavencimentoinicial" >
            </div>
            <div class="form-group col-md-3">
                <label for="datavencimetofinal">Vencimento Final</label>
                <input type="date" class="form-control" id="datavencimetofinal" placeholder="Data Final"
                  formControlName="datavencimentofinal" >
            </div>
            <div class="form-group col-md-3">
                <label for="tipo">Tipo</label>
                <select class="form-control" formControlName="tipo"  [compareWith]="compararTipo" (change)="setTipo()">
                    <option *ngFor="let tipo of tipos" [ngValue]="tipo"> {{ tipo.nome }}</option>
                 </select>
            </div>


              <div class="form-group col-md-12 text-right">
                <button type="button" class="btn btn-success" (click)="exportarExcel()" >
                  <i  class="far fa-file-excel" title="Exporta para excel" aria-hidden="true"></i>
                  Excel
                </button>
                <button type="button" class="btn btn-primary" (click)="pesquisar()" style="margin-left:1%;">
                    <i class="fa fa-search" title="Executar pesquisa" aria-hidden="true"></i>
                    Pesquisar
                </button>
                <button type="submit" class="btn btn-danger" style="margin-left:1%;"
                    (click)="pesquisarLimpar()">
                    <i class="fa fa-refresh" aria-hidden="true" title="Limpar pesquisa"></i>
                    Limpar
                </button>
            </div>


            </div>
          </accordion-group>
        </accordion>
      </div>



      <div class="table-responsive-lg">
        <table class="table table-striped">
            <thead>
                <tr
                    class="pb-0 card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center row">
                    <th class="col-lg-1 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Situação</th>
                    <th class="col-lg-3 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Nome</th>
                    <th class="col-lg-2 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Função</th>
                    <th class="col-lg-2 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Loja</th>
                    <th class="col-lg-2 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Tipo</th>
                    <th class="col-lg-2 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Vencimento</th>
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let aso of asoControles" 
                    class="pb-0 pt-0 card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
                    <td class="col-lg-1 col-xs mb-1 mt-1 text-muted text-small w-sm-100 p-0" style="border: none;">
                      <li class="nav-item dropdown btn-group" dropdown>
                        <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light text-primary" mdbWavesEffect>
                          <img src="{{aso.situacao}}" width='50%'>
                        </a>
                        <div class="dropdown-menu dropdown-primary dropdown-menu-left" role="menu">
                          <a class="dropdown-item">
                            <a style="color: green;margin-left: 10%;" (click)="novo(aso)">
                              <i class="far fa-file-alt" title="Novo aso"></i>
                          </a>
                          <a style="color: blue;margin-left: 10%;" (click)="editar(aso)">
                            <i class="far fa-edit" title="Editar aso"></i>
                        </a>
                        <a style="color: orangered;margin-left: 10%;" (click)="listarFuncionario(aso)">
                          <i class="far fa-list-alt" title="Listar aso"></i>
                      </a>
                      <a style="color: brown;margin-left: 10%;" (click)="agendar(aso)">
                        <i class="far fa-calendar-plus" title="Agendar exame"></i>
                    </a>
                          </a>
                        </div>
                      </li>
                    </td>
                    <td class="col-lg-3 col-xs mb-1 mt-1 text-muted text-small w-sm-100 p-0" style="border: none;">
                      <a  >{{ aso.funcionario.nome}}</a></td>
                    <td class="col-lg-2 col-xs mb-1 mt-1 text-muted text-small w-sm-100 hidden-xs p-0"
                        style="border: none;">{{ aso.funcionario.funcao.nome}}</td>
                    <td class="col-lg-2 col-xs mb-1 mt-1 text-muted text-small w-sm-100 hidden-xs p-0"
                        style="border: none;">{{ aso.funcionario.loja.nome }}</td>
                    <td class="col-lg-2 col-xs mb-1 mt-1 text-muted text-small w-sm-100 hidden-xs p-0"
                        style="border: none;">{{ aso.asotipo.nome }}</td>
                    <td class="col-lg-2 col-xs mb-1 mt-1 text-muted text-small w-sm-100 hidden-xs p-0"
                      style="border: none;"> {{ aso.datavencimento | date: 'dd/MM/yyyy' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
  </form>
</div>














