<br /><br />

<br /><br />
<div class="page-header">
    <div class="container-fluid">
        <h3>
            Cadastro de Função
        </h3>
        <hr />
    </div>


    <div style="width: 100%;">


        <form [formGroup]="formulario">
            <div class="row">
                    <div class="form-group col-md-2 col-sm-1" [ngClass]="aplicaCssErro('nome')">
                    </div>

                <div class="form-group col-md-8 col-sm-10" [ngClass]="aplicaCssErro('nome')">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" placeholder="Nome" formControlName="nome">
                    <app-campo-control-erro [mostrarErro]="verificarValidTouched('nome')" msgErro="Nome é obrigatório.">
                    </app-campo-control-erro>
                </div>
                <div class="form-group col-md-2 col-sm-1" [ngClass]="aplicaCssErro('nome')">
                    </div>

                    <div class="form-group col-md-2 col-sm-2" [ngClass]="aplicaCssErro('nome')">
                        </div>
    
                <div class="form-group col-md-2 col-sm-12" [ngClass]="aplicaCssErro('CBO')">
                    <label for="cbo">CBO</label>
                    <input type="text" class="form-control" id="cbo" placeholder="0000-00" formControlName="cbo" [textMask]="{mask: maskCBO}" >
                    <app-campo-control-erro [mostrarErro]="verificarValidTouched('cbo')" msgErro="No. do CBO é obrigatório.">
                    </app-campo-control-erro>
                </div>

                
            </div>

            <br />
            <div class="w-100 text-right">
                <button type="submit" class="btn btn-primary" (click)="salvar()" [disabled]="!formulario.valid">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    Salvar
                </button>
                <button type="submit" class="btn btn-danger" style="margin-left:1%;" (click)="cancelar()">
                    <i class="fa fa-times" aria-hidden="true"></i>
                    Cancelar
                </button>

            </div>



            <br />


        </form>

    </div>
</div>