<br /><br />
<div class="page-header">
  <div class="container-fluid">
    <h3>
      Agendamento de Aso's
    </h3>
    <hr />
  </div>
  <div style="width: 100%;">
    <form [formGroup]="formulario">
      <div class="row">
        <div class="form-group col-md-4 col-sm-12">
          <label for="nomefuncionario">Nome</label>
          <input type="text" class="form-control" id="nomefuncionario" placeholder="Nome do funcionário"
            [value]="asoAgenda.funcionario.nome" readonly="false">
        </div>
        <div class="form-group col-md-1 col-sm-12">
          <br />
        </div>
        <div class="form-group col-md-4 col-sm-12">
          <label for="funcao">Função</label>
          <input type="text" class="form-control" id="funcao" placeholder="Função"
            [value]="asoAgenda.funcionario.funcao.nome" readonly="false">
        </div>
        <div class="form-group col-md-3 col-sm-12">
          <label for="loja">Loja</label>
          <input type="text" class="form-control" id="loja" placeholder="Loja" readonly="false"
            [value]="asoAgenda.funcionario.loja.nome">
        </div>


        <div class="form-group col-md-3 col-sm-12">
          <label for="dataexame">Data do Exame</label>
          <input type="date" class="form-control" id="dataexame" placeholder="Data do Exame"
          [value]="asoAgenda.dataexame">
        </div>
        <div class="form-group col-md-2 col-sm-12">
          <label for="hora">Hora Exame</label>
          <input type="text" class="form-control" id="hora"   [value]="asoAgenda.hora">
        </div>

      </div>
        <div class="table-responsive-lg">
          <table class="table table-striped">
            <thead>
              <tr
                class="pb-0 card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center row">
                <th class="col-lg-4 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Tipo Exame</th>
                <th class="col-lg-4 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Clinica</th>
                <th class="col-lg-2 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Situação</th>
                <th class="col-lg-2 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let auto of listaAutorizacao; let id = index"
                class="pb-0 pt-0 card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
                <td class="col-lg-4 col-xs mb-1 mt-1 text-muted text-small w-sm-100 p-0" style="border: none;">
                  {{auto.agendaexame.asotipo.nome}}</td>
                <td class="col-lg-4 col-xs mb-1 mt-1 text-muted text-small w-sm-100 p-0" style="border: none;">
                  {{auto.agendaexame.clinica.nome }}</td>
                <td class="col-lg-2 col-xs mb-1 mt-1 text-muted text-small w-sm-100 hidden-xs p-0"
                  style="border: none;">{{ auto.agendaexame.situacao }}</td>
                <td class="col-lg-2 col-xs mb-1 mt-1 text-muted text-small w-sm-100 hidden-xs p-0"
                  style="border: none;">
                  <a  style="color: blue;margin-left: 0%;"
                    (click)="adicionarImpressao(id)">
                    <i class="{{auto.botao}}" title="Adcionar na autorização"></i>
                  </a>

                </td>

              </tr>
            </tbody>
          </table>
        </div>

        <br />
        <div class="w-100 text-right">
         
          <a class="btn btn-primary" href="{{imprimir()}}" target="_blank">   
            <i class="fas fa-print" aria-hidden="true"></i>
            Imprimir
          </a>
          <button type="submit" class="btn btn-danger" style="margin-left:1%;" (click)="cancelar()">
            <i class="fa fa-times" aria-hidden="true"></i>
            Fechar
          </button>
          
        </div>
        <br />

    </form>
  </div>
</div>