<br /><br />
<div class="page-header">
  <div class="container-fluid">
    <h3>
      Consulta Acessos
    </h3>
    <hr />
  </div>
  
      <div class="table-responsive-lg">
        <table class="table table-striped">
            <thead>
                <tr
                    class="pb-0 card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center row">
                    <th class="col-lg-8 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Nome</th>
                    <th class="col-lg-2 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Usuários</th>
                    <th class="col-lg-2 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm"
                        style="text-align: center;">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let acesso of acessos"
                    class="pb-0 pt-0 card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
                    <td class="col-lg-8 col-xs mb-1 mt-1 text-muted text-small w-sm-100 p-0" style="border: none;">
                        {{acesso.nome}}</td>
                   
                    <td class="col-lg-2 col-xs mb-1 mt-1 text-muted text-small w-sm-100 p-0" style="border: none;">

                        <button type="button" style="float:right;" class="btn btn-light font-weight-light mr-1 p-1"
                            (click)="editar(acesso)" title="Editar">
                            <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
  <div>
