<br /><br />
<div class="page-header">
  <div class="container-fluid">
    <h3>
      Consulta Planilhas Salutar
    </h3>
    <hr />
  </div>
  <form [formGroup]="formulario">
    <div class="container-fluid" style="width:100%;">
      <div class="w-100">
        <button type="button" style="float:right;" class="btn btn-success font-weight-light" (click)="gerar()" >
          <i class="fa fa-plus" aria-hidden="true"></i>
          <a class="ml-2">Gerar</a>
        </button>
      </div>
      <br><br>
      <div class="w-100">
        <accordion [closeOthers]="oneAtATime">
          <accordion-group heading="Pesquisar" [isOpen]="isFirstOpen">
            <div class="row">

              <div class="form-group col-md-3">
                <label for="datavencimetoinicial">Data Inicial</label>
                <input type="date" class="form-control" id="datainicial" placeholder="Data Inicial"
                  formControlName="datainicial" >
            </div>
            <div class="form-group col-md-3">
                <label for="datafinal">Data Final</label>
                <input type="date" class="form-control" id="datafinal" placeholder="Data Final"
                  formControlName="datafinal" >
            </div>

            <div class="form-group col-md-3">
                <label for="loja">Loja</label>
                <select class="form-control" formControlName="loja"  [compareWith]="compararLoja" (change)="setLoja()">
                    <option *ngFor="let loja of lojas" [ngValue]="loja"> {{ loja.nome }}</option>
                 </select>  
            </div>
        
        

              <div class="form-group col-md-12 text-right">
                <button type="button" class="btn btn-primary" (click)="pesquisar()" >
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Pesquisar
                </button>
                <button type="submit" class="btn btn-danger" style="margin-left:1%;"
                    (click)="limpar()" >
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                    Limpar
                </button>
            </div>


            </div>
          </accordion-group>
        </accordion>
      </div>



      <div class="table-responsive-lg">
        <table class="table table-striped">
            <thead>
                <tr
                    class="pb-0 card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center row">
                    <th class="col-lg-3 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Nome</th>
                    <th class="col-lg-2 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Data Emissão</th>
                    <th class="col-lg-3 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Loja</th>
                    <th class="col-lg-2 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Usuário</th>
                    <th class="col-lg-2 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Ação</th>
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let s of salutar" 
                    class="pb-0 pt-0 card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
                    <td class="col-lg-3 col-xs mb-1 mt-1 text-muted text-small w-sm-100 hidden-xs p-0"
                        style="border: none;">{{ s.nome}}</td>
                    <td class="col-lg-2 col-xs mb-1 mt-1 text-muted text-small w-sm-100 p-0" style="border: none;">
                      {{ s.dataemissao}}</td>
                    <td class="col-lg-3 col-xs mb-1 mt-1 text-muted text-small w-sm-100 hidden-xs p-0"
                        style="border: none;">{{ s.loja.nome}}</td>
                    <td class="col-lg-2 col-xs mb-1 mt-1 text-muted text-small w-sm-100 hidden-xs p-0"
                        style="border: none;">{{ s.usuario.nome }}</td>
                    <td class="col-lg-2 col-xs mb-1 mt-1 text-muted text-small w-sm-100 hidden-xs p-0"
                        style="border: none;">
                        <a style="color: green;margin-left: 10%;" (click)="excluir(s)">
                            <i class="far fa-edit" title="Editar"></i>
                        </a>
                        <a style="color: red;margin-left: 10%;" (click)="excluir(s)">
                          <i class="fas fa-trash-alt" title="Excluir"></i>
                      </a>
                      <a style="color: green;margin-left: 10%;" (click)="excluir(s)">
                        <i class="far fa-file-excel" title="Planilha Excel"></i>
                    </a>
                    </td>                  
                </tr>
            </tbody>
        </table>
    </div>
    </div>
  </form>
</div>

