<br/><br/>
<div class="page-header">
  <div class="container-fluid">
    <h3>
      Contas a Receber
    </h3>
    <hr/>
  </div>
  <form [formGroup]="formulario">
    <div class="container-fluid" style="width:100%;">
        <div class="w-100">
            <button type="button" style="float:right;" class="btn btn-color font-weight-light" (click)="adicionar()" >
              <i class="fa fa-plus" aria-hidden="true"></i>
              <a class="ml-2">Adicionar</a>
            </button>
          </div>
      <br><br>
      <div class="w-100">
        <accordion [closeOthers]="oneAtATime">
          <accordion-group heading="Pesquisar" [isOpen]="isFirstOpen">
            <div class="row">
                <div class="form-group col-md-2">
                    <label for="iddocumento">No. Documento</label>
                    <input type="text" class="form-control" id="iddocumento" placeholder="No. Documento"
                           formControlName="documento">
                  </div>
              <div class="form-group col-md-4" >
                  <label for="idcliente">Cliente</label>
                  <input type="text" class="form-control" id="idcliente" placeholder="Cliente"
                       formControlName="cliente">
              </div>
              <div class="form-group col-md-3">
                <label for="datavencimentoinicial">Data vencimento inicial</label>
                <input type="date" class="form-control" id="datavencimentoinicial" placeholder="Data vencimento"
                       formControlName="datainicial">
              </div>
              <div class="form-group col-md-3">
                  <label for="datavencimentofinal">Data vencimento final</label>
                  <input type="date" class="form-control" id="datavencimentofinal" placeholder="Data vencimento"
                         formControlName="datafinal">
              </div>
              <div class="form-group">
                  <div class="col-md-12">
                        <label class="radio-inline" >
                            <input type="radio"  formControlName="tipoConta" value="todas">Todas as Contas
                        </label>
                    </div>
                </div>

                <div class="form-group">
                  <div class="col-md-12">
                        <label class="radio-inline" for="idpagar">
                            <input type="radio"  id="idpagar" formControlName="tipoConta" value="pagar">Contas a Pagar
                        </label>
                    </div>
                </div>
                
                <div class="form-group">
                  <div class="col-md-12">
                        <label class="radio-inline" for="idpagas">
                            <input type="radio" id="idpagas" formControlName="tipoConta" value="pagas">Contas Pagas
                        </label>
                    </div>
                </div>

                <div class="form-group col-md-12 text-right">
                  <button type="button" class="btn btn-primary" (click)="pesquisar()">
                      <i class="fa fa-search" aria-hidden="true"></i>
                      Pesquisar
                  </button>
                  <button type="submit" class="btn btn-danger" style="margin-left:1%;"
                      (click)="consultar()">
                      <i class="fa fa-refresh" aria-hidden="true"></i>
                      Limpar
                  </button>
              </div>
            </div>
          </accordion-group>
        </accordion>
      </div>

      <div class="table-responsive-lg">
        <table class="table table-striped">
            <thead>
                <tr
                    class="pb-0 card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center row">
                    <th class="col-lg-2 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm" style="text-align:left">No. Doc</th>
                    <th class="col-lg-3 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm" style="text-align:left">Cliente</th>
                    <th class="col-lg-2 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm" style="text-align:center">Vencimento</th>
                    <th class="col-lg-2 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm" style="text-align:center">Valor</th>
                    <th *ngIf="pagas" class="col-lg-2 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Data Pagamento</th>
                    <th *ngIf="pagas"class="col-lg-1 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm"
                        style="text-align: center;">Ações</th>
                    <th *ngIf="!pagas"class="col-lg-3 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm"
                        style="text-align: center;">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let conta of contas"
                    class="pb-0 pt-0 card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
                    <td class="col-lg-2 col-xs mb-1 mt-1 text-muted text-small w-sm-100 p-0" style="border: none; text-align:left">
                        {{conta.documento}}</td>
                    <td class="col-lg-3 col-xs mb-1 mt-1 text-muted text-small w-sm-100 p-0" style="border: none;">
                        {{conta.clientes.nome}}</td>
                    <td class="col-lg-2 col-xs mb-1 mt-1 text-muted text-small w-sm-100 hidden-xs p-0"
                        style="border: none; text-align: center;">{{conta.datavencimento | date: 'dd/MM/yyyy'}}</td>
                    <td class="col-lg-2 col-xs mb-1 mt-1 text-muted text-small w-sm-100 hidden-xs p-0"
                        style="border: none;text-align:right">{{conta.valorcompra | currency: ' '}}</td>
                    <td *ngIf="pagas" class="col-lg-2 col-xs mb-1 mt-1 text-muted text-small w-sm-100 hidden-xs p-0"
                        style="border: none;">{{conta.datapagamento | date: 'dd/mm/yyyy'}}</td>
                        
                   
                       <td>
                            
                            
                            <button type="button" style="float:right;" class="btn btn-light font-weight-light mr-1 p-1"  
                              (click)="editar(conta)" title="Editar">
                              <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                          </button>
                          <button type="button" style="float:right;"
                                  class="btn btn-light font-weight-light mr-1 p-1" (click)="baixar(conta)" 
                                  title="Receber">
                                  <i class="fas fa-hand-holding-usd" aria-hidden="true"></i>
                          </button>
                       
                         
                      </td>
                      
    
                    
                    </tr>
            </tbody>
        </table>
    </div>
    
      
    </div>
  </form>
</div>





