<br /><br />
<div class="page-header">
  <div class="container-fluid">
    <h3>
     Valores Clinica
    </h3>
    <hr />
  </div>
  <form [formGroup]="formulario">
    <div class="container-fluid" style="width:100%;">
      <div class="w-100">
        </div>
      <br><br>
      <div class="w-100">
        <div class="row">
        <div class="form-group col-xs-12 col-sm-12 col-md-9 col-lg-9" >
            <label for="loja">Loja</label>
            <input type="text" class="form-control" id="loja" [value]="clinicaPagto.loja.nome" readonly>
          </div>

          <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3" >
            <label for="funcionarios">No. Funcionários</label>
            <input type="number" class="form-control" id="funcionarios" [value]="clinicaPagto.funcionarios" readonly style="text-align: right;">
          </div>

          <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4" >
            <label for="valorfuncionarios">Valor Funcionários</label>
            <input type="number" class="form-control" id="valorfuncionarios" [value]="clinicaPagto.valorfuncionarios" readonly style="text-align: right;"> 
          </div>

          <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4" >
            <label for="valorExames">Valor Exames</label>
            <input type="number" class="form-control" id="valorExames" [value]="clinicaPagto.valorexames" readonly style="text-align: right;">
          </div>

          <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4" >
            <label for="valorTotal">Valor Total</label>
            <input type="number" class="form-control" id="valorTotal" [value]="clinicaPagto.valortotal" readonly style="text-align: right;">
          </div>
    </div>
    </div>
      



      <div class="table-responsive-lg">
        <table class="table table-striped">
            <thead>
                <tr
                    class="pb-0 card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center row">
                    <th class="col-lg-5 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Tipo de Exame</th>
                    <th class="col-lg-3 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Quantidade</th>
                    <th class="col-lg-2 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Valor Unitário</th>
                    <th class="col-lg-2 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Valor Total</th>
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cp of clinicaPagto.clinicapagtoexameList" 
                    class="pb-0 pt-0 card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
                    <td class="col-lg-4 col-xs mb-1 mt-1 text-muted text-small w-sm-100 p-0" style="border: none;">
                      <a  >{{ cp.asotipo.nome}}</a></td>
                    <td class="col-lg-2 col-xs mb-1 mt-1 text-muted text-small w-sm-100 hidden-xs p-0"
                        style="border: none; text-align: right;">{{ cp.quantidade}}</td>
                    <td class="col-lg-3 col-xs mb-1 mt-1 text-muted text-small w-sm-100 hidden-xs p-0"
                        style="border: none; text-align: right;">{{cp.asotipo.valor | currency: ' '}}</td>
                    <td class="col-lg-3 col-xs mb-1 mt-1 text-muted text-small w-sm-100 hidden-xs p-0"
                        style="border: none; text-align: right;">{{cp.valortotal | currency: ' '}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
  </form>
</div>














