<br /><br />
<div class="page-header">
  <div class="container-fluid">
    <h3>
      Consulta Função
    </h3>
    <hr />
  </div>
  <form [formGroup]="formulario">
    <div class="container-fluid" style="width:100%;">
      <div class="w-100">
        <button type="button" style="float:right;" class="btn btn-success font-weight-light" 
          routerLink="/cadfuncao" >
          <i class="fa fa-plus" aria-hidden="true"></i>
          <a class="ml-2">Adicionar</a>
        </button>
      </div>
      <br><br>
      <div class="w-100">
        <accordion [closeOthers]="oneAtATime">
          <accordion-group heading="Pesquisar" [isOpen]="isFirstOpen">
            <div class="row">
              
              <div class="form-group col-md-6">
                <label for="pesquisanome">Nome</label>
                <input type="text" class="form-control" id="pesquisanome" placeholder="Nome" formControlName="nome">
              </div>

              <div class="form-group col-md-4">
                <label for="pesquisacbo">CBO</label>
                <input type="text" class="form-control" id="pesquisacboo" formControlName="cbo" [textMask]="{mask: maskCBO}"> 
              </div>
            





              <div class="form-group col-md-12 text-right">
                <button type="button" class="btn btn-primary" (click)="pesquisar()">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Pesquisar
                </button>
                <button type="submit" class="btn btn-danger" style="margin-left:1%;"
                    (click)="pesquisarLimpar()">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                    Limpar
                </button>
            </div>


            </div>
          </accordion-group>
        </accordion>
      </div>



      <div class="table-responsive-lg">
        <table class="table table-striped">
            <thead>
                <tr
                    class="pb-0 card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center row">
                    <th class="col-lg-7 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Nome</th>
                    <th class="col-lg-4 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">CBO</th>
                    <th class="col-lg-1 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm"
                        style="text-align: center;">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let f of funcoes"
                    class="pb-0 pt-0 card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
                    <td class="col-lg-7 col-xs mb-1 mt-1 text-muted text-small w-sm-100 p-0" style="border: none;">
                        {{f.nome}}</td>
                    <td class="col-lg-4 col-xs mb-1 mt-1 text-muted text-small w-sm-100 hidden-xs p-0"
                        style="border: none;">{{f.cbo}}</td>
                    <td class="col-lg-1 col-xs mb-1 mt-1 text-muted text-small w-sm-100 p-0" style="border: none;">
                      <a style="color: green;margin-left: 10%;" (click)="editar(f)">
                        <i class="far fa-edit" title="Editar"></i>
                    </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
  </form>
</div>














