<br /><br />
<div class="page-header">
    <div class="container-fluid">
        <h3>
            Cadastro de Produto
        </h3>
        <hr />
    </div>
    <div style="width:100%;">
        <form [formGroup]="formulario">
            <div formGroupName="produto" class="row">
                <div class="form-group col-xs-12 col-sm-12 col-md-1 col-lg-1">
                   
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-8">
                    <label for="descricao">Descrição</label>
                    <input type="text" class="form-control" id="descricao" placeholder="Descrição"
                        formControlName="descricao">
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <label for="unidade">Unidade</label>
                    <select class="form-control" formControlName="unidade" (change)="setUnidade()">
                        <option value="UN">Unidade</option>
                        <option value="KG">Kilograma</option>
                        <option value="MT">Metro</option>
                    </select>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-1 col-lg-1">
                   
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-1 col-lg-1">
                   
                </div>

                <div class="form-group col-md-4" >
                    <label for="grupo">Grupo</label>
                    <select class="form-control" formControlName="produtogrupo"  [compareWith]="compararProdutoGrupo" (change)="setProdutoGrupo()" >
                        <option *ngFor="let produtogrupo of listaProdutoGrupo" [ngValue]="produtogrupo"> {{ produtogrupo.descricao }}</option>
                     </select>
                    </div> 
                


            
    </div>
  
   

    <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <label for="estoqueminimo">Estoque minimo</label>
        <input type="number" class="form-control" id="estoqueminimo" placeholder="0,000"
            formControlName="quantidademinima">
    </div>
  

    
    <div class="mt-3 w-100 text-right">
        <button type="button" class="btn btn-primary" (click)="salvar()">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
            Salvar
        </button>
        <button type="submit" class="btn btn-danger" style="margin-left:1%;" (click)="cancelar()">
            <i class="fa fa-times" aria-hidden="true"></i>
            Cancelar
        </button>
    </div>
    <br />
    </form>
</div>
</div>