<br /><br />
<div class="page-header">
  <div class="container-fluid">
    <h3>
      Consulta Treinamentos
    </h3>
    <hr />
  </div>
  <form [formGroup]="formulario">
    <div class="container-fluid" style="width:100%;">
      <div class="w-100">
        <button type="button" style="float:right;" class="btn btn-success font-weight-light" 
          (click)="novo()" >
          <i class="fa fa-plus" aria-hidden="true"></i>
          <a class="ml-2">Adicionar</a>
        </button>
      </div>
      <br><br>
      <div class="w-100">
        <accordion [closeOthers]="oneAtATime">
          <accordion-group heading="Pesquisar" [isOpen]="isFirstOpen">
            <div class="row">
              
              <div class="form-group col-md-3">
                <label for="datainicial">Data Inicial</label>
                <input type="date" class="form-control" id="datainicial" placeholder="Data Inicial"
                  formControlName="datainicial" >
            </div>
            <div class="form-group col-md-3">
                <label for="datafinal">Data Final</label>
                <input type="date" class="form-control" id="datafinal" placeholder="Data Final"
                  formControlName="datafinal" >
            </div>
                        
            <div class="form-group col-md-4" col-sm-12>
                <label for="situacao">Situação</label>
                <select class="form-control" formControlName="situacao">
                    <option value="Agendado">Agendado</option>
                    <option value="Cancelado">Cancelado</option>
                    <option value="Finalizado">Finalizado</option>
                </select>
            </div>
           
           

              <div class="form-group col-md-12 text-right">
                <button type="button" class="btn btn-primary" (click)="pesquisar()">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Pesquisar
                </button>
                <button type="submit" class="btn btn-danger" style="margin-left:1%;"
                    (click)="pesquisarLimpar()">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                    Limpar
                </button>
            </div>


            </div>
          </accordion-group>
        </accordion>
      </div>



      <div class="table-responsive-lg">
        <table class="table table-striped">
            <thead>
                <tr
                    class="pb-0 card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center row">
                    <th class="col-lg-4 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Nome</th>
                    <th class="col-lg-2 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Data</th>
                    <th class="col-lg-1 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Hora</th>
                    <th class="col-lg-3 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Instrutor</th>
                    <th class="col-lg-1 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Situação</th>
                    <th class="col-lg-1 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Ações</th>
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let t of treinamentos" 
                    class="pb-0 pt-0 card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
                    <td class="col-lg-4 col-xs mb-1 mt-1 text-muted text-small w-sm-100 p-0" style="border: none;">
                    {{t.treinamentotipo.nome}}</td>
                    <td class="col-lg-2 col-xs mb-1 mt-1 text-muted text-small w-sm-100 p-0" style="border: none;">
                      {{t.data | date: 'dd/MM/yyyy' }}</td>
                    <td class="col-lg-1 col-xs mb-1 mt-1 text-muted text-small w-sm-100 hidden-xs p-0"
                        style="border: none;">{{ t.hora}}</td>
                    <td class="col-lg-3 col-xs mb-1 mt-1 text-muted text-small w-sm-100 hidden-xs p-0"
                        style="border: none;">{{ t.instrutor }}</td>
                    <td class="col-lg-1 col-xs mb-1 mt-1 text-muted text-small w-sm-100 hidden-xs p-0"
                        style="border: none;">{{ t.situacao }}</td>
                    <td class="col-lg-1 col-xs mb-1 mt-1 text-muted text-small w-sm-100 hidden-xs p-0"
                      style="border: none;">
                      <li class="nav-item dropdown btn-group" dropdown>
                        <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light text-primary" mdbWavesEffect>
                          <i class="fas fa-ellipsis-v" title="Ações"></i>
                        </a>
                        <div class="dropdown-menu dropdown-primary dropdown-menu-left" role="menu">
                          <a class="dropdown-item">
                            <a style="color: green;margin-left: -10%;" (click)="editar(t)">
                              <i class="far fa-edit" title="Editar"></i>
                          </a>
                          <a style="color: blue;margin-left: 5%;" (click)="finalizar(t)">
                            <i class="fas fa-check-double" title="Finalizar"></i>
                        </a>
                        <a style="color: green;margin-left: 5%;" (click)="participantes(t)">
                          <i class="fas fa-user-edit" title="Adicionar Participantes"></i>
                      </a>
                        <a style="color: red;margin-left: 5%;" (click)="cancelar(t)">
                          <i class="fas fa-ban" title="Cancelar"></i>
                      </a>
                      <a style="color: green;margin-left: 5%;" (click)="listarParticipantes(t)">
                        <i class="fas fa-users" title="Lista de Participantes"></i>
                    </a>
                      <a style="color: green;margin-left: 5%;" >
                        <a href="{{imprimir(t)}}" target="_blank" >
                        <i class="fas fa-print" title="Imprimir lista"></i></a>
                    </a>
                          </a>
                        </div>
                      </li>
                    
                    </td>
                  
                </tr>
            </tbody>
        </table>
    </div>
    </div>
  </form>
</div>

